@import "antd/dist/reset.css";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root {
	height: 100%;
}

.App {
	text-align: center;
	height: 100%;
	width: 100%;

	.main-content {
		height: calc(100% - 100px);
		background-image: url(../images/theme-baseball/baseball-background.jpg);

		.overview-panel {
			width: 67%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.8);
			display: inline-block;
		}

		.detail-panel {
			width: 33%;
			height: 100%;
			background-color: rgba(50, 50, 50, 0.9);
			float: right;

			&::after {
				content: "";
				clear: both;
			}
		}
	}
}