html,
body,
#root {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #f68933;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.App-header .settings {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  background-image: url(../images/settings.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.App-link {
  color: #61dafb;
}

.Content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.Content {
  flex: 1;
}

.OverviewPanel {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.6);
}

.DetailPanel {
  width: 600px;
  background-color: rgba(50, 50, 50, 1);
  position: relative;
  display: flex;
}

@import '~antd/dist/antd.css'