.app-header {
	background-color: #f68933;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: calc(20px + 2vmin);
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: white;

	label {
		padding-right: 20px;
	}

	.settings {
		position: absolute;
		opacity: 0;
		width: 100px;
		height: 100px;
		cursor: pointer;
		right: 0;
		background-image: url(../images/icons/settings.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 50px 50px;
	}
}

.interval-modal-content-wrapper {
	overflow: hidden;

	.slider-wrapper {
		width: calc(80% - 16px);
		padding-left: 8px;
		margin-right: 16px;
		float: left;
	}

	.input-wrapper {
		width: 20%;
		float: right;
	}
}