.leader-board .theme-logo {
	animation: theme-logo-spin infinite 5s linear;
	height: 60px;
	margin-right: 20px;
	pointer-events: none;
}

.leader-board {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 30px;
	flex: 1;

	.title {
		font-size: calc(10px + 4vmin);
		color: #333;
		font-family: fantasy;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-end;

		.game-title {
			text-transform: capitalize;
			flex: 1;
			text-align: left;
			margin-bottom: -7px;
		}

		.game-hint {
			font-size: calc(10px + 1vmin);
			margin-bottom: 3px;
		}
	}

	.underline {
		height: 3px;
		width: 100%;
		background-color: #333;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 20px;
		font-family: fantasy;

		.team {
			height: calc(80px + 4vmin);
			display: flex;
			flex-direction: row;
			align-items: center;

			.score {
				font-size: calc(6px + 2vmin);
				width: 60px;
			}

			.trophy {
				height: 60px;
				width: 60px;
			}

			.rank {
				font-size: calc(10px + 2vmin);
				padding-right: 20px;
			}

			.logo {
				height: 80px;
				width: 80px;
			}

			.bar {
				position: relative;
				overflow: hidden;
				height: 40px;
				width: 0;
				/* background-image: linear-gradient(to right, #f68933 , red); */
				background-color: red;
				padding-left: 10px;
				padding-right: 10px;
				transition: width 500ms;
			}

			/*
			.bar::after {
				content: '';
				top: 0;
				transform: translateX(100%);
				width: calc(100% - 20px);
				height: 100%;
				position: absolute;
				z-index: 1;
				animation: slide 2s infinite;
				background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 51, 0)), color-stop(50%, rgba(246, 137, 51, 0.8)), color-stop(99%, rgba(246, 137, 51, 0)), color-stop(100%, rgba(246, 137, 51, 0)));
			}
			*/
		}

		.name {
			font-size: calc(10px + 2vmin);
			width: 150px;
		}
	}
}

@keyframes slide {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

@keyframes theme-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}