.universal-item {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	align-items: center;
	width: 100%;
	font-size: 20px;

	>div {
		color: white;
		flex: 1;
		text-align: left;
	}

	>div.name {
		flex: 3;
	}
}

.carousel .team {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
	padding: 60px;

	h3 {
		color: white;
		font-size: 30px;
	}

	.team-summary {
		@extend .universal-item;

		display: flex;
		flex-direction: row;
		align-items: flex-start;
		align-content: center;
		font-size: 20px;
		padding-bottom: 5px;
		border-bottom: 1px solid white;
	}

	.member-list {
		.member {
			@extend .universal-item;
			position: relative;

			&.list-header {
				font-size: 24px;
			}

			.crown {
				position: absolute;
				right: 0;
				width: 30px;
				height: 30px;
			}
		}
	}
}