.Leaderboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  flex: 1;
}

.Leaderboard .title {
  font-size: calc(10px + 4vmin);
  color: #333;
  font-family: fantasy;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.Leaderboard .title .GameTitle {
    flex: 1;
    text-align: left;
    margin-bottom: -7px;
}

.Leaderboard .title .GameHint {
    font-size: calc(10px + 1vmin);
    margin-bottom: 3px;
}

.Leaderboard .underline {
    height: 3px;
    width: 100%;
    background-color: #333;
}

.Leaderboard .content {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  font-family: fantasy;
}

.Leaderboard .content .team {
    height: calc(80px + 4vmin);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Leaderboard .content .name {
    font-size: calc(10px + 2vmin);
    width: 150px;
}

.Leaderboard .content .team .rank {
    font-size: calc(10px + 2vmin);
    padding-right: 20px;
}

.Leaderboard .content .team .logo {
    height: 80px;
    width: 80px;
}

.Leaderboard .content .team .bar {
    height: 40px;
    background-color: #f32925;
    padding-left: 10px;
    padding-right: 10px;
}

.Leaderboard .content .team .score {
    font-size: calc(6px + 2vmin);
    width: 60px;
}

.Leaderboard .content .team .trophy {
    height: 60px;
    width: 60px;
}

.Leaderboard .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
    margin-right: 20px;
    pointer-events: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}